* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
    line-height: 1;
}

header {
    padding: 20px;
    text-align: center;
    min-height: 97vh;
    background-color: pink;
    border-radius: 8px;
    font-size: 90px;
}

header h1 {
    margin: 0;
}

nav ul {
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: wavy;
}

section {
    min-height: 96vh;
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

section#home {
    background-color: paleturquoise;
    text-align: center;
    font-size: 60px;
    
}

section#otro {
    background-color: palegreen;
    font-size: 100px;
}

section#sorpresa {
    background-color: cornflowerblue;
    font-size: 40px;
}
html {
    scroll-behavior: smooth;
}